{{- range .Services }}
{{- if .ExposeViaIngress }}
---
type: MeshHTTPRoute
mesh: default
name: ingress-route-{{ .Container }}
spec:
  targetRef:
    kind: MeshGateway
    name: ingress
    tags:
      port: http-ingress
  to:
    - targetRef:
        kind: Mesh
      hostnames:
        - {{ .Container }}.{{ $.Project.ProjectName }}.{{ $.Project.LocalDomain }}
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: "/"
          default:
            backendRefs:
              - kind: MeshService
                name: {{ .Container }}
                port: {{ .Port }}
---
type: MeshTrafficPermission
mesh: default
name: allow-{{ .Container }}-from-ingress
spec:
  targetRef:
    kind: Dataplane
    labels:
      app: {{ .Container }}
  rules:
    - default:
        allow:
          - spiffeID:
              type: Exact
              value: "spiffe://default.mesh.local/workload/ingress"
{{- end }}
{{- end }}
