{{- define "mesh.envoy.tracing" }}
tracing:
  http:
    name: envoy.tracers.opentelemetry
    typed_config:
      "@type": type.googleapis.com/envoy.config.trace.v3.OpenTelemetryConfig
      grpc_service:
        envoy_grpc: { cluster_name: otel_collector }
        timeout: 5s
      service_name: {{ .ServiceName }}
{{- end }}

{{- define "mesh.envoy.access_log" }}
access_log:
- name: envoy.access_loggers.stdout
  typed_config:
    "@type": type.googleapis.com/envoy.extensions.access_loggers.stream.v3.StdoutAccessLog
    log_format:
      json_format:
        ts:               "%START_TIME%"
        method:           "%REQ(:METHOD)%"
        path:             "%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%"
        protocol:         "%PROTOCOL%"
        response_code:    "%RESPONSE_CODE%"
        bytes_received:   "%BYTES_RECEIVED%"
        bytes_sent:       "%BYTES_SENT%"
        duration_ms:      "%DURATION%"
        upstream:         "%UPSTREAM_HOST%"
        peer_spiffe_uri:  "%DOWNSTREAM_PEER_URI_SAN%"
        request_id:       "%REQ(X-REQUEST-ID)%"
        trace_id:         "%REQ(X-B3-TRACEID)%"
        user_agent:       "%REQ(USER-AGENT)%"
{{- end }}

{{- define "mesh.envoy.mtls_downstream" }}
transport_socket:
  name: envoy.transport_sockets.tls
  typed_config:
    "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
    require_client_certificate: true
    common_tls_context:
      tls_certificates:
      - certificate_chain: { filename: "{{ .CertDir }}/id.crt" }
        private_key:       { filename: "{{ .CertDir }}/id.key" }
      validation_context:
        trusted_ca: { filename: "{{ .CertDir }}/trust.ca.crt" }
{{- end }}

{{- define "mesh.envoy.mtls_upstream" }}
transport_socket:
  name: envoy.transport_sockets.tls
  typed_config:
    "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
    common_tls_context:
      tls_certificates:
      - certificate_chain: { filename: "{{ .CertDir }}/id.crt" }
        private_key:       { filename: "{{ .CertDir }}/id.key" }
      validation_context:
        trusted_ca: { filename: "{{ .CertDir }}/trust.ca.crt" }
{{- end }}

{{- define "mesh.envoy.tls_terminate_self_signed" }}
transport_socket:
  name: envoy.transport_sockets.tls
  typed_config:
    "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.DownstreamTlsContext
    common_tls_context:
      tls_certificates:
      - certificate_chain: { filename: "{{ .CertDir }}/id.crt" }
        private_key:       { filename: "{{ .CertDir }}/id.key" }
{{- end }}

{{- define "mesh.envoy.otel_cluster" }}
- name: otel_collector
  type: STRICT_DNS
  connect_timeout: 1s
  http2_protocol_options: {}
  load_assignment:
    cluster_name: otel_collector
    endpoints:
    - lb_endpoints:
      - endpoint:
          address:
            socket_address: { address: {{ (splitn ":" 2 .Endpoint)._0 }}, port_value: {{ (splitn ":" 2 .Endpoint)._1 }} }
{{- end }}
